name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'gradle'
        
    - name: Cache Minecraft/Loom
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches/fabric-loom
          ~/.gradle/loom-cache
        key: ${{ runner.os }}-loom-${{ hashFiles('**/gradle.properties') }}
        restore-keys: |
          ${{ runner.os }}-loom-

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        cache-read-only: false
      
    - name: Make gradlew executable
      run: chmod +x ./gradlew
      
    - name: Build with Gradle
      run: |
         VERSION=${GITHUB_REF_NAME#v}
         ./gradlew collectJars -Pversion=$VERSION
      
    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        files: build/libs/*.jar
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
