name: Build

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      
    - name: Make gradlew executable
      run: chmod +x ./gradlew
      
    - name: Build with Gradle
      run: |
         VERSION=${GITHUB_REF_NAME#v}
         ./gradlew collectJars -Pversion=$VERSION
      
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: netutils-jars
        path: build/libs/*.jar
